/migrations/add_timestamp.py
/session/bot.session
/session/client.session
/meili_data/data.ms/auth/data.mdb
/meili_data/data.ms/auth/lock.mdb
/meili_data/data.ms/tasks/data.mdb
/meili_data/data.ms/tasks/lock.mdb
/meili_data/data.ms/VERSION
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/searchgram.iml
/.idea/vcs.xml
/.venv/
zinc.py
mongo.py