annotated-types==0.7.0
async-timeout==4.0.3
camel-converter==3.1.2
certifi==2024.7.4
charset-normalizer==3.3.2
coloredlogs==15.0.1
humanfriendly==10.0
idna==3.7
meilisearch==0.25.0
pyaes==1.6.1
pydantic==2.8.2
pydantic_core==2.20.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.0
redis==4.5.5
requests==2.32.3
TgCrypto==1.2.5
typing_extensions==4.12.2
urllib3==2.2.2
